
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/awestruck-style.css">
</head>
<body>
  <nav class="toolbar">
    <a href="/" class="navbar-brand" style="margin-left:20px"> <text class="brand-text"> Awestruck Studios </text> </a>
     <ul class="nav navbar-nav">
    <li class="nav-item">
      <a href="/"> <text class="menu-text {% if nbar == 'aboutus' %} active {% endif %} ">  About us  </text> </a>
    </li>
    <li class="nav-item">
      <a href="/ourworks/"><text class="menu-text {% if nbar == 'ourworks' %} active {% endif %}" > Our works </text> </a>
    </li>
    <li class="nav-item">
      <a href="/ourcrew/"><text class="menu-text" > Our Crew </text> </a>
    </li>
    <li class="nav-item">
      <a href="https://www.facebook.com/AweStruckcrew/" target="_blank"><text class="menu-text" >
       <img class="index-icon" src="/static/facebook.svg"> <img> Facebook page   </text></a>
    </li>
    <li class="nav-item">
      <a href="https://www.instagram.com/awestruckstudios/" target="_blank"><text class="menu-text" >
       <img class="index-icon" src="/static/instagram.svg"> <img> Instagram page  </text></a>
    </li>
  </ul>

</nav>

{% block content %}

{% endblock %}
</body>
</html>
