 {% extends 'base.html' %}

{% block content %}

{% load static %}

  <div class="index-item-box" style="background-color:#42A5F5">
    <img src="app/static/awestruck_image.jpg" class="index-image-circle">
    <h2 class="index-text">  Awestruck Studios  </h2>
    <p class="index-quote"> We know the perfect way to capture your best moments </p>
  </div>

  <div class="index-item-box" style="background-color:#FFFFFF">
    <img src="app/static/files/Group-icon.png" class="index-image-circle-1">
      <h2 class="index-text-1">  Small Crew - Big Ambitions </h2>
      <p class="index-quote-1"> Little we are, Vast we think, Great we produce </p>
  </div>

{% endblock %}
